@use 'variables';

.about {
    display: block;
    padding-top: 100px;

    &__title {
        display: block;
        text-align: center;
        
        margin-bottom: 32px;
        color: variables.$color2;
    }

    &__infos {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__item {
            max-width: 33%;
            text-align: center;

            img {
                display: block;
                min-width: 200px;
                max-width: 100%;
                height: auto;
                border-radius: 50%;

                @media screen and (max-width: variables.$mobile) {
                    margin: 0 auto;
                }
            }

            @media screen and (max-width: variables.$mobile) {
                max-width: 100%;
                margin: 0 auto 16px auto;
            }
        }

        @media screen and (max-width: variables.$mobile) {
            display: block;
        }
    }
}