.contact {
    padding-bottom: 100px;
    border-bottom: 1px solid rgba(215, 242, 5, 0.5);

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-around;

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 8px;
                width: 48px;
                height: 48px;
                border-radius: 50%;
                margin-bottom: 8px;
                background-color: #F2E205;
                transition: all .2s ease-in-out; 
                
                &:hover {
                    transform: scale(1.1);
                }
            }

            h4 {
                margin-bottom: 4px;
            }
        }
    }
}