@use 'variables';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;

    padding: 24px 0;
    border-bottom: 1px solid variables.$color1;
    transition: all .2s ease-in-out;

    &--is-scrolling {
        padding: 12px;
        max-width: 1024px;
        top: 16px;

        background-color: rgba(0, 0, 0, 0.9);
        border: 2px solid rgba(215, 242, 5, 0.5);
        border-radius: 16px;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__title {

            h1 {
                color: variables.$color1;
                font-family: variables.$ubuntuMono;
                font-weight: bold;

                @media screen and (max-width: variables.$mobile) {
                    font-size: 26px;
                }
            }
    
            @media screen and (max-width: variables.$mobile) {
                font-size: 16px;
            }
        }

        @media screen and (max-width: variables.$tabletMax) {
            width: 100%;
            margin-bottom: 8px;
        }

        .hamburguer-menu {
            display: none;
            flex-direction: column;
            align-items: center;

            padding: 12px;
            max-width: 48px;
            margin-left: 32px;

            border: 1px solid variables.$color1;
            border-radius: 8px;
            cursor: pointer;
        
            span {
                display: block;
                width: 26px;
                height: 2px;
                background-color: variables.$color1;
            }
            
            &__line {
                margin-bottom: 8px;
            }

            @media screen and (max-width: variables.$tabletMax) {
                display: flex;
            }
        }
    }

    &__navbar { 
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        &__item {      
            padding: 8px;

            a {
                padding: 8px;

                color: variables.$color3;
                transition: all .2s ease-in-out;
            }

            &:hover {
                
                a {
                    color: #fff;
                }
            }

            &--is-active {
                background-color: rgba(242, 226, 5, 0.1);
                border: 2px solid variables.$color1;
                border-radius: 10px;

                a {
                    color: variables.$color2;

                    &:hover {
                        color: variables.$color2;
                    }
                }
            }

            @media screen and (max-width: variables.$tabletMax) {
                padding: 8px;
            }
        }   

        @media screen and (max-width: variables.$tabletMax) {
            display: none;
        }
    }

    @media screen and (max-width: variables.$tabletMax) {
        display: block;
    }
}