@use 'variables';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 24px 0;
    border-bottom: 1px solid #D7F205;

    &__title {

        h1 {
            color: #D7F205;
            font-family: variables.$ubuntuMono;
            font-weight: bold;
        }
    }

    &__navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        &__item {
            
            a {
                padding: 8px;

                color: #5581D9;
                transition: all .2s ease-in-out;
            }

            &:hover {
                
                a {
                    color: #fff;
                }
            }
        }
    }
}