// Fonts
$montserrat: "Montserrat", sans-serif;
$ubuntuMono: "Ubuntu Mono", monospace;

// Colors
$bgColor: #00050d;
$textColor: #ffffff;
$color1: #5581D9;
$color2: #5E88BF;
$color3: #D7F205;
$color4: #F2E205;