@use 'variables';
@use 'header';
@use 'home';
@use 'about';
@use 'contact';
@use 'projects';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: variables.$montserrat;
}

body {
    background-color: variables.$bgColor;
    color: variables.$textColor;
    letter-spacing: 0.03em;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 5px;
    font-weight: 500;
}

@mixin title($fontSize: 32px) {
    @include text($fontSize);
    color: variables.$color2;
    font-weight: bold
}


.text--big {
    @include text(18px);

    @media screen and (max-width: variables.$tabletMax) {
        @include text(16px);
    }
}

.text {
    @include text(16px);

    @media screen and (max-width: variables.$tabletMax) {
        @include text(14px);
    }
}

.text--small {
    @include text(14px);

    @media screen and (max-width: variables.$mobile) {
        @include text(12px);
    }
}

.title {
    @include title(24px);
}

.footer {
    padding: 24px 0;
    background-color: #000;
    
    &__content {
        text-align: center;

        @media screen and (max-width: variables.$mobile) {
            font-size: 14px;
        }
    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1024px;
    margin: 0 auto;

    @media screen and (max-width: variables.$tabletMax) {
        max-width: 80%;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 12px;
    width: 40%;
    
    background-color: variables.$color2;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    color: #00050d;
    font-weight: 600;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: #fff241;
        transform: scale(1.1);
    }

    @media screen and (max-width: variables.$tabletMax) {
        margin: 0 auto 32px auto;
    }
}